<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="https://www.healthdata.gov/sites/default/files/css/css_kShW4RPmRstZ3SpIC-ZvVGNFVAi0WEMuCnI0ZkYIaFw.css" media="all" />
        <link type="text/css" rel="stylesheet" href="https://www.healthdata.gov/sites/default/files/css/css_5Rn1Nv11EbzRqTBGph2R1ujO37nLI7zTRSDUPnsTv1o.css" media="all" />
        <link type="text/css" rel="stylesheet" href="https://www.healthdata.gov/sites/default/files/css/css_I-BaYiMFnD9YZTImj4dVvrMOHWRw1OvwUWo0ihOelJk.css" media="all" />
        <link type="text/css" rel="stylesheet" href="https://www.healthdata.gov/sites/default/files/css/css_ZDd1yoslRgZzc6HO1reTzfku9DaiNA0lpDEccVCq3tw.css" media="all" />
        <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans::400,300,700" media="all" />
        <style type="text/css" media="all">
        <title>HealthData.gov Dataset Cluster View</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <img src="{{url_for('static', filename='img/{{diagram}}')}}" alt="Silhouettes Diagram">
        <ul>
            {% for i in clusters %}
            <li><a href="/{{cluster_name}}/i">Cluster {{i}}</a></li>
            {% endfor %}
        </ul>
    </body>
</hml>

